body{
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0px;
}

.dada{
    color: orange;
}
.half-width{
width: 40%;
float: left;
margin-left: 5%;
padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.fk{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, red, orange, yellow);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
}
h1{
    font-size: 40px;
}
p{
    font-size: 15px;
}
h3{
    font-size: 30px;
}
*{
    padding: 20px;
    margin: 5px;
    box-sizing: border-box;
}
.d{
    margin-top: 10%;
    background: #F8F9FC;
    justify-content: center;
    float: left;
}
#n{
    color: pink;
}
.d h1{
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}
.g{
    display: flex;
    width: auto;
    height: 400px;
    justify-content: center;
    
}
.j{
    background: white;
    margin: 5px;
    margin-bottom: 50px;
    width: 370px;
    padding: 20px;
    height: 445px;
    line-height: 20px;
    position: relative;
    justify-content: center;
    border-radius: 10px;
}
.j img{
    width: 100%;
}
.v img{
    width: 700px;
    height: 200px;
    margin: 400px;

}
.lk img{
    width: 800px;
    height: 200px;
    padding-top: 70px;
    padding-left: 269px;
    position: relative;
}
.lk h2{
    color: rgb(255, 255, 255); 
    position: absolute; 
    left: 350px;
    top:1840px
}
.lk{
    background-image: url("fff.png");
    width: 60%;
    margin: 0px;
}